<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}Textlator{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dotzzcayo/image/upload/v1768764143/Gemini_Generated_Image_1f2lq91f2lq91f2l_eyt101.png">
    <meta name="Bernadette Chukwuedo" content="Bernadette Chukwuedo">
    <meta name="description" content="A simple text translator application.">
    
</head>
<body class="bg-slate-100 min-h-screen">
    {% block content %}

    {% endblock %}
</body>
</html>